@font-face {
    font-family: circular;
    src: url(circular.ttf);
}

body {
    position: relative;
    font-family: circular;
    height: 100vh;
    display: flex;
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    width: auto;
    overflow-x: hidden;
}

div.container {
    width: 250px;
    border-radius: 1.9rem;
    background-color: #111;
    margin: 15px;
    margin-left: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.container .sidebar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .head {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #111;
    background-color: #fff;
    border-radius: 1.9rem;
    height: 290px;
    width: 90%;
    margin-top: 12.5px;

}

.head .user-img {
    width: auto;
    display: flex;
    border-radius: 50%;
    justify-content: center;
}

.user-img img {
    height: 170px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.head .user-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head .user-details p.name {
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.head .user-details p.followers {
    font-size: 20px;
    font-weight: 400;
}

div.save-playlist {
    height: 50px;
    background-color: #fff;
    margin-top: 70px;
    width: 90%;
    border: 2px solid #000;
    border-radius: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.save-playlist a.save-button {
    text-decoration: none;
    font-weight: 500px;
    color: black;
    transition: .5s;
}

div.save-playlist:hover {
    background-color: #1DB954;
    z-index: 2;
    transition: .5s cubic-bezier(1, 0, .8, 1);
}

div.save-playlist a.save-button:hover {
    color: #fff;
}

div.log-out {
    width: 90%;
    margin-top: 400px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.log-out a.logout-button {
    text-decoration: none;
    font-weight: 600px;
    font-size: 20px;
    color: #970505;
    transition: .5s;
}

div.log-out:hover {
    background-color: #970505;
    transition: .5s cubic-bezier(1, 0, .8, 1);
}

div.log-out a.logout-button:hover {
    color: #fff;
    transition: .5s
}

div.spotify {
    height: 100px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.spotify .s-text {
    color: #1DB954;
    font-size: 10px;
}

div.spotify img.s-logo {
    height: 50px;
    width: 182.5px;
}

div.column-one {
    width: 800px;
    margin: 15px;
    flex-direction: column;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
}

.column-one .top-one {
    width: 98%;
    height: 500px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    margin: 10px;
}

.column-one .top-one .title {
    width: 400px;
    height: 50px;
    margin: 10px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    margin-block: .5em;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: hsl(120 100% 10% / 1);
    border-radius: 100vw;
    border: .25em solid hsl(120 75% 50% / 1);
}

.top-one .title h3.display {
    font-weight: 600px;
    font-size: 20px;
}

.top-one .playlists {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 98%;
    overflow: auto;
    gap: 10px;
    margin: 10px;
}

.top-one .playlists .item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 0 1.9rem 1.9rem 0;
    width: 98%;
}


.top-one .playlists .item img {
    height: 80px;
    width: 80px;
    ;
}

.top-one .playlists .item .name {
    font-size: 15px;
    text-decoration: none;
    color: black;
    animation: marquee 10s linear infinite;
}

.top-one .playlists .item .name:hover {
    color: #1DB954;
    transition: .5s;
}

.top_tracks {
    width: 98%;
    height: 390px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    margin: 10px;
    display: flex;
    align-items: center;

    background-color: black;
    border: 2px solid black;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.top_tracks .title {
    width: 400px;
    height: 50px;
    margin: 10px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}

.top_tracks .title h3.display {
    font-weight: 600px;
    font-size: 20px;
}

.top_tracks .tracks {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 98%;
    overflow: auto;
    gap: 10px;
    counter-reset: item-counter;
    margin: 10px;
}

.tracks div.item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 0 1.9rem 1.9rem 0;
    width: 98%;
}

.tracks .item::before {
    counter-increment: item-counter;
    content: counter(item-counter);
    font-weight: bold;
    font-size: 35px;
    margin-right: 5px;
    margin-left: 9px;
}

div.tracks div.item img {
    height: 80px;
    width: 80px;
}

div.item a.name {
    font-size: 15px;
    text-decoration: none;
    color: black;
    animation: marquee 10s linear infinite;
}

div.item .name:hover {
    color: #1DB954;
    transition: .5s;
}

div.column-two {
    display: flex;
    flex-direction: column;
    width: 760px;
    margin-top: 15px;
}

.column-two .top {
    width: 98%;
    height: 500px;
    margin: 10px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.top .title {
    width: 300px;
    height: 50px;
    margin: 10px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}

.top .title h3.display {
    font-weight: 600px;
    font-size: 20px;
    color: black;
}

.column-two .top-artists {
    display: flex;
    height: 850px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
    overflow: auto;
    margin: 15px;
    width: 98%;
    counter-reset: item-counter;
}

.top-artists .item {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 120px;
    gap: 3px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 22px;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.top-artists .item img.p-image {
    height: 140px;
}

.top-artists .item .name {
    font-size: 15px;
    text-decoration: none;
    color: black;
    animation: marquee 10s linear infinite;
}

.top-artists .item .name::before {
    counter-increment: item-counter;
    content: counter(item-counter);
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 9px;
}

.top-artists .item .name:hover {
    color: #1DB954;
}

.column-two .footer-content {
    width: 98%;
    height: 500px;
    margin: 10px;
    border: 1px #1DB954;
    border-radius: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.footer-content .footer-text {
    height: 120px;
    width: auto;
    margin-top: 120px;
}

.footer-text h1 {
    color: #fff;
    font-size: 100px;
    margin: 0;
}

.footer-content .soc {
    height: 50px;
    width: 300px;
}

.footer-content ul.socials {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}

.footer-content .footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.footer-bottom p {
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}