<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="..\static\images\icons8-music-16.png" sizes="16x16">
  <link rel="stylesheet" href="..\static\css\profile.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>SyncGroove</title>
</head>


<body>
  <div class="container">
    <div class="sidebar">
      <div class="head">
        <div class="user-img">
          <img src="{{ p_pic}}" alt="profile picture">
        </div>
        <div class="user-details">
          <p class="name">{{ name }}</p>
          <p class="followers">followers • {{ followers }}</p>
        </div>
      </div>

      <div class="save-playlist">
        <a href="{{ url_for('featured_playlists') }}" class="save-button" target="_blank">Save Discover Weekly</a>
      </div>
      <div class="log-out">
        <a href="{{ url_for('logout') }}" class="logout-button">Log Out</a>
      </div>
      <div class="spotify">
        <h2 class="s-text">Powered by Spotify</h2>
        <img src="../static/images/Spotify_Full_Logo_RGB_Green.png" alt="" class="s-logo">
      </div>
    </div>
  </div>
  <div class="column-one">

    <div class="top-one">
      <div class="title">
        <h3 class="display"> Syncgroove Playlist Items</h3>
      </div>
      <div class="playlists">
        {% for items in playlist %}
        <div class="item">
          {% if items.track.album.images and items.track.album.images|length > 0 %}
          <img src="{{ items.track.album.images[0].url }}" alt="Playlist Image" class="p-image">
          {% else %}
          <img src="..\static\images\spotify(1).png" alt="Placeholder Image" style="width: 120px;" class="p-image">
          {% endif %}
          <a href="{{items.track.external_urls.spotify}}" class="name" target="_blank">{{items.track.artists[0].name}} -
            {{items.track.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="top_tracks">
      <div class="title">
        <h3 class="display"> Your Top Tracks</h3>
      </div>
      <div class="tracks">
        {% for item in top_tracks %}
        <div class="item">
          {% if item.album.images and item.album.images|length > 0 %}
          <img src="{{ item.album.images[0].url }}" alt="Song Image" class="p-image">
          {% else %}
          <img src="..\static\images\spotify (1).png" alt="Placeholder Image" class="p-image">
          {% endif %}
          <a href="{{item.external_urls.spotify}}" class="name" target="_blank">{{item.artists[0].name}} -
            {{item.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column-two">

    <div class="top">
      <div class="title">
        <h3 class="display"> Your Top Artists</h3>
      </div>
      <div class="top-artists">
        {% for items in top %}
        <div class="item">
          {% if items.images and items.images|length > 0 %}
          <img src="{{ items.images[0].url }}" alt="Artist Image" class="p-image">
          {% else %}
          <img src="..\static\images\spotify (1).png" alt="Placeholder Image" class="p-image">
          {% endif %}
          <a href="{{items.external_urls.spotify}}" class="name">{{items.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="footer-content">
      <div class="footer-text">
        <h1>SyncGroove</h1>
      </div>
      <div class="soc">
        <ul class="socials">
          <li><a href="https://twitter.com/khvfv_" target="_blank"><i class="fa-brands fa-x-twitter fa-2xl"
                style="color: #ffffff;"></i></a></li>
          <li><a href="https://github.com/koome00/SyncGroove-V2" target="_blank"><i class="fa-brands fa-github fa-2xl"
                style="color: #ffffff;"></i></a></li>
          <li><a href="https://www.linkedin.com/in/collins-koome-728544261/" target="_blank"><i
                class="fa-brands fa-linkedin-in fa-2xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright SyncGroove&copy; 2024 designed by <span>koome</span> </p>
      </div>
    </div>

  </div>
</body>

</html>